npm install @react-navigation/native
expo install react-native-screens
npm install @react-navigation/stack
npm install react-native-gesture-handler
expo install react-native-gesture-handler
npm install @react-navigation/bottom-tabs
npm install @react-navigation/material-top-tabs react-native-tab-view
npm install react-native-webview
npm install formik
npm install yup
npm install email-validator
npm install firebase
npm i @baronha/react-native-multiple-image-picker
npm install react-native-status-bar-height
npm install --save react-native-image-modal@1.0.16
npm install '@react-native-firebase/messaging'
# expo install expo-notifications
# npm install --save react-native-push-notification