npm install react-native-safe-area-context
npm install react-native-elements
expo install expo-image-picker
npm install react-native-status-bar-height
npm install @react-navigation/native
npm install @react-navigation/stack
npm install react-native-gesture-handler
npm install @react-navigation/bottom-tabs
npm install @react-navigation/material-top-tabs
npm install react-native-tab-view
npm install react-native-webview
npm install react-native-pager-view
npm install formik
npm install yup
npm install email-validator
npm install firebase
npm install react-native-image-modal
npm install react-native-image-viewing
npm install react-native-fast-image
npm i @react-native-async-storage/async-storage
npm i react-native-custom-picker
npm install --save @react-native-clipboard/clipboard
npm install react-native-paper@5.0.0-rc.5
# npm install react-native-image-picker